<div class="flex flex-column mx-auto justify-content-center align-items-center">
  <h1>Reset Password</h1>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="w-20rem flex flex-column gap-4">
    <div class="p-field">
      <label for="newPassword">New Password</label>
      <input class="p-fluid w-full" id="newPassword" pInputText type="password" formControlName="newPassword" placeholder="Enter your new password" />
      @if (!resetPasswordForm.controls['newPassword'].valid || !resetPasswordForm.valid) {
        <small class="p-error">
          Passwords do not match
        </small>
      }
    </div>
    <div class="p-field">
      <label for="confirmPassword">Confirm Password</label>
      <input class="p-fluid w-full" id="confirmPassword" pInputText type="password" formControlName="confirmPassword" placeholder="Confirm your new password" />
      @if (!resetPasswordForm.controls['confirmPassword'].valid || !resetPasswordForm.valid) {
        <small class="p-error">
          Passwords do not match
        </small>
      }
    </div>
    <button pButton type="submit" label="Reset Password" [disabled]="resetPasswordForm.invalid"></button>
  </form>
</div>
