<div class="flex flex-column">
  <div class="w-full">
    <h1 class="mx-auto text-center">Admin Dashboard</h1>
  </div>

  <div class="flex xl:flex-row flex-column mx-auto gap-8">
    <div class="w-10rem h-10rem bg-cyan-200 flex">
      <a class="no-underline m-auto text-3xl text-center" [href]="['/admin-dashboard/pending-farmers']">Manage Farmers</a>
    </div>
    <div class="w-10rem h-10rem bg-purple-200 flex">
      <a class="no-underline m-auto text-3xl text-center" [href]="['/admin-dashboard/manage-users']">Manage Users</a>
    </div>
  </div>
</div>
